{% extends 'base.html.twig' %}

{% block title %}Biographie : {{ character.name }}{% endblock %}

{% block body %}

    <a href="{{ path('app_character') }}">Retourner vers la liste des personnages</a>
    <h1>{{ character.name }}</h1>

    <p><img src="{{ character.profilPhoto }}"></p>
    <p>Style de combat : {{ character.fightingStyle }}</p>
    <p>Nationnalité : {{ character.nationality }}</p>
    <p>Age : {{ render_age(character.age) }}</p>
    <p>Taille : {{ character.height }}</p>
    <p>Poids : {{ character.weight }}</p>
    <p>Background : {{ character.history }}</p>

    <h1>Move list</h1>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MOD')%}
        <a href="{{ path('addBlows_character', { 'id':character.id }) }}">Ajouter un coup</a>
    {% endif %}
    {% for blow in blows %}
        {{ blow.name }} {{ render_command(blow.movelist) }}<br>
    {% endfor %}
{% endblock %}
