{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

    {{ form_errors(editProfil) }}

    {{ form_start(editProfil) }}
        <p>Photo de profil : {{ form_row(editProfil.profilPhoto, {'label': false})}}</p>
        <p>Pseudo : {{ form_row(editProfil.pseudo, {'label': false}) }}</p>
        <p>Personnage favori : {{ form_row(editProfil.favoriteCharacter, {'label': false}) }}</p>
            <button type="submit" class="btn">Appliquer</button>
    {{ form_end(editProfil) }}
{% endblock %}
