{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MOD')%}
        <h2>Listes des utilisateurs</h2>

        {% for user in users %}
            <a href="{{ path('show_profil', { 'id':user.id }) }}">
                <img src="{{ user.profilPhoto }}" alt="{{ user.pseudo }}" />
                <p class="text-name">{{user.pseudo}}</p>
                <p>{{ user.creationDate|date('Y-m-d H:i:s') }}</p><br>
            </a>
            <form action="{{ path('profil_delete', {id: user.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ? Il est conseillé de bannir la personne concerné, ceci doit être en dernier recours.');">
                <button type="submit">Supprimer</button>
            </form> 
        {% endfor %}
    {% else %}
        
        Vous n'avez pas accès à cette page.

    {% endif %}

{% endblock %}
