{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

    <img src="{{user.profilPhoto}}">
    {% for badge in user.getBadges %}
        <li>
            <img src="{{badge.badgeIcon}}">
        </li>
    {% endfor %}
    <h2>{{user.pseudo}}</h2>
    <ul>
        {% for role in user.roles %}
            <li>{{render_role(role)}}</li>
        {% endfor %}
    </ul>
    <p>Grade : {{user.grade.gradeName}} <img src="{{user.grade.icon}}"></p>
    <p>Grade point : {{user.gradePoint}}</p>
    {% if is_granted('ROLE_DEV') or is_granted('ROLE_LEAD')%}
        <p><a href="{{ path('edit_gradePoint', { 'id':user.id }) }}">Changer les points de grade</a></p>
    {% endif %}
    <p>Email : {{user.email}}</p>
    <p>Date de création : {{user.creationDate|date('d/m/Y')}}</p>
    {% if (user.favoriteCharacter) %}
        <p>Personnage favori : {{favoriteCharacter.name}}</p>
        <img src="{{favoriteCharacter.profilPhoto}}">
    {% else %}
        <p>Aucun personnage favori défini.</p>
    {% endif %}
    {% if app.user == user %}
        <a href="{{ path('edit_myprofil') }}"><i class="fa-solid fa-pen"></i></a>
    {% endif %}

{% endblock %}
