{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

<a href="{{ path('show_listTopicsInCategory', { 'id':topic.getCategory.getId }) }}">Retourner vers la liste des Topic</a>


    <h1>{{topic.getTitle()}}</h1>

    {% for post in posts %}
        {{ post.getPostText() }} par {{ post.getUser.getPseudo }}<br>
        {% if app.user == topic.getUser() or is_granted('ROLE_ADMIN') or is_granted('ROLE_MOD') %}
            <form method="post" action="{{ path('delete_post', {id: post.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                <button>Supprimer</button>
            </form>
        {% endif %}
    {% endfor %}

    {% if (app.user) %}
        {% if (topic.isLocked == false) %}
            {{ form_errors(newPost) }}

            {{ form_start(newPost) }}
            {{ form_row(newPost.postText, { 'label': false, 'attr': {'placeholder': 'Entrez votre message ici...'} }) }}
                <button type="submit" class="btn">Envoyer</button>
            {{ form_end(newPost) }}
        {% else %}
            <p>Le sujet a été verrouiller et ne peut recevoir de nouveau post.</p>
            <form method="post" action="{{ path('lockOrUnlockTopic', {id: topic.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir deverrouiller ce topic ? ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('lock' ~ topic.id) }}">
                <button>Deverrouiller</button>
            </form>
        {% endif %}
    {% else %}
        <p><strong>Connectez-vous ou inscrivez-vous pour pouvoir écrire</strong></p>
        <a href="{{ path('app_login') }}">Se connecter</a>
        <a href="{{ path('app_register') }}">S'inscrire</a>
    {% endif %}

{% endblock %}
